name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [24.6.0]
        # python: [3.11.6]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install node packages
        run: npm install

      - name: Run test
        run: npm run test

      # - name: Compile contracts
      #   run: npm run compile

      # - name: Use Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: ${{ matrix.python }}

      # - name: Install python packages
      #   run: pip install -r requirements.txt

      # - name: Run slither
      #   run: npm run slither
